body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
    color: yellow;
}

.array-element{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position:relative;
    color:orangered;
}

.headline{
    color:yellow;
    text-align: center;
}

.container {
    width: 100%;
}

.container-inner {
    margin: 0 auto;
    display: table;
}

.area{
    margin: auto;
    display: flow;
}

button{
    posiotion:relative;
    top:10px;
}

h1{
    top: 30px;
    color: orange;
}
