<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StarostaApp</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <script language="JavaScript" type="text/javascript">
        var isUp = false;
        function login(){
            if(isUp == false){
                document.getElementById('popupbox').style.visibility="visible";
                isUp = true;
            }else if(isUp == true){
                document.getElementById('popupbox').style.visibility="hidden";
                isUp = false;
            }
        }
    </script>
</head>
<body>
    <center><h1>StarostaApp</h1></center>
    <table class="array-element">
        <tr class="headline">
            <th th:width="40px" th:text="Subject"></th>
            <th th:width="40px" th:text="Group"></th>
            <th th:width="40px" style="text-align: center" th:text="Id"></th>
            <th th:width="40px" th:text="TeacherName"></th>
            <th th:width="40px" th:text="TeacherSurname"></th>
            <th th:width="40px" th:text="TeacherMail"></th>
            <th th:width="40px" th:text="Date"></th>
        </tr>
        <tr  th:each="exam: ${exams}">
            <td th:width="40px" th:text="${exam.getSubjectname() + '    '}">Subject</td>
            <td th:width="40px" th:text="${exam.getGroup() + '    '}">Group</td>
            <td th:width="40px" style="text-align:left" th:text="${exam.getId() + '    '}">Id</td>
            <td th:width="40px" th:text="${exam.getTeacher().getName() + '    '}">TeacherName</td>
            <td th:width="40px" th:text="${exam.getTeacher().getSurname()  + '    '}">TeacherSurname</td>
            <td th:width="40px" th:text="${exam.getTeacher().getEmail()  + '    '}">TeacherEMail</td>
            <td th:width="40px" th:text="${exam.getDate() + '    '}">Date</td>
        </tr>
    </table>

    <div class="area">
        <form th:action="@{/api/v1/group/exams/new}" method="post">
            <textarea style="resize:none" rows="1" cols="22" th:id="nameGroup" name="nameGroup" ></textarea>
            <textarea style="resize:none" rows="1" cols="22" th:id="date" name="date"></textarea>
            <input   type="submit" th:id="createExam" value="Create" />
        </form>
    </div>

    <div class="area">
        <form th:action="@{/api/v1/group/exams/delete}" method="post">
            <textarea style="resize:none" rows="1" cols="22" th:id="idExam" name="idExam" ></textarea>
            <input   type="submit" th:id="deleteExam" value="delete" />
        </form>
    </div>
</div>
</body>
</html>
