<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StarostaApp</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <script language="JavaScript" type="text/javascript">
        var isUp = false;
        function login(){
            if(isUp == false){
                document.getElementById('popupbox').style.visibility="visible";
                isUp = true;
            }else if(isUp == true){
                document.getElementById('popupbox').style.visibility="hidden";
                isUp = false;
            }
        }
    </script>
</head>
<body>
    <center><h1>StarostaApp</h1></center>
    <table class="array-element">
        <tr class="headline">
            <th th:width="40px" style="text-align: center" th:text="Id"></th>
            <th th:width="40px" th:text="StudentName"></th>
            <th th:width="40px" th:text="StudentSurname"></th>
        </tr>
        <tr  th:each="student: ${group_students}">
            <td th:width="40px" style="text-align:left" th:text="${student.getId() + '    '}">Id</td>
            <td th:width="40px" th:text="${student.getName() + '    '}">StudentName</td>
            <td th:width="40px" th:text="${student.getSurname() + '    '}">StudentSurname</td>
        </tr>
    </table>

    <div class="container">
        <div class="container-inner">
            <div class="area" >
                <form  th:action="@{/api/v1/groups/student/new}" method="post">
                    <textarea style="resize:none" rows="1" cols="22" th:id="nameGroup" name="nameGroup" ></textarea>
                    <textarea style="resize:none" rows="1" cols="22" th:id="idStudent" name="idStudent"></textarea>
                    <textarea style="resize:none" rows="1" cols="22" th:id="name" name="name"></textarea>
                    <textarea style="resize:none" rows="1" cols="22" th:id="surname" name="surname"></textarea>
                    <textarea style="resize:none" rows="1" cols="22" th:id="isLeader" name="isLeader"></textarea>
                    <input   type="submit" th:id="addWord" value="add" />
                </form>
            </div>
        </div>
    </div>

    <div class="area">
        <form th:action="@{/api/v1/groups/student/remove}" method="post">
            <textarea style="resize:none" rows="1" cols="22" th:id="nameGroup" name="nameGroup" ></textarea>
            <textarea style="resize:none" rows="1" cols="22" th:id="idStudent" name="idStudent"></textarea>
            <input   type="submit" th:id="deleteWord" value="delete" />
        </form>
    </div>

    <div class="area">
        <form th:action="@{/api/v1/groups/student/change}" method="post">
            <textarea style="resize:none" rows="1" cols="22" th:id="idStudent" name="idStudent"></textarea>
            <textarea style="resize:none" rows="1" cols="22" th:id="nameOldGroup" name="nameOldGroup" ></textarea>
            <textarea style="resize:none" rows="1" cols="22" th:id="nameNewGroup" name="nameNewGroup" ></textarea>
            <input   type="submit" th:id="changeGroup" value="change" />
        </form>
    </div>
</div>
</body>
</html>
