<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StarostaApp</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <script language="JavaScript" type="text/javascript">
        var isUp = false;
        function login(){
            if(isUp == false){
                document.getElementById('popupbox').style.visibility="visible";
                isUp = true;
            }else if(isUp == true){
                document.getElementById('popupbox').style.visibility="hidden";
                isUp = false;
            }
        }
    </script>
</head>
<body>
<div id = "website" th:name="visibility" th:method="post">
    <div id="popupbox" >
        <form name="login" th:action="@{/api/v1/}" method="post">
            <center><h1>StarostaApp</h1></center>
            <center>Student ID:</center>
            <center><input size="14" th:id="idStudent" name="idStudent"/></center>
            <center>Password:</center>
            <center><input type="password" size="14" th:id="password" name="password"/></center>
            <center><input type="submit" name="submit" value="Login In!" /></center>
            <center><b style="color:#ff0000" size="14">Invalid login or password!</b></p></center>
        </form>
        <br/>
    </div>
</div>
</body>
</html>
